@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to top, #637ACF,#4E74FA, #005BF5, #2260CA );
    }
    section#login{
        width: 90vw;
        height: 320px;
    }
    section#login > div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 70%;
    }
    div#formulario > p#inicial{
        font-size: 16px;
    }
    input {
        width: 82%;
    }
    div#formulario > form >  p > input[type=submit]{
        transform: translateY(-6%);
        width: 50vw;
    }
    div#formulario > form >  p > input[type=reset]{
        transform: translateY(-6%);
        width: 50vw;
    }
    div#formulario > form > a.botao{
        transform: translateX(-4%);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #637ACF,#4E74FA,  #005BF5, #2260CA );
    }
    section#login{
        width: 940px;
        height: 350px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
    div#formulario > p#inicial{
        font-size: 20px;
    }
    div#formulario > form >  p > input[type=submit]{
        transform: translateX(-4%);
    }
    div#formulario > form >  p > input[type=reset]{
        transform: translateX(-4%);
    }
    input {
        width: 82%;
    }
}